.nav-header {
  height: 5rem;
  width: 15.1875rem;
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  background: #111B27;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  transition: all .2s ease;
}

.nav-header .logo-abbr {
  display: none;
}

.nav-header .logo-compact {
  display: none;
}

.nav-header .brand-logo {
  z-index: 999;
}

.nav-header .brand-logo a {
  padding: 1.607rem 1.8125rem;
  display: block;
}

.nav-header .brand-logo a i {
  font-size: 1.375rem;
}

.nav-header .brand-logo a b img {
  max-width: 1.5625rem;
}

.nav-header .brand-logo a span {
  font-size: 1.125rem;
}
