<!-- ***** Main wrapper start *****-->
<div id="main-wrapper">
  <!-- ***** Nav header start *****-->
  <div class="nav-header">
    <app-nav></app-nav>
  </div>
  <!-- ***** Nav header end *****-->
  <!-- ***** Header start *****-->
  <div class="header">
    <app-header></app-header>
  </div>
  <!-- ***** Header end ti-comment-alt *****-->
  <!-- ***** Sidebar start *****-->
  <div class="nk-sidebar">
    <div class="container-fluid mt-3">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <!-- ***** Sidebar end *****-->
  <!-- ***** Content body start *****-->
  <div class="content-body">
    <router-outlet></router-outlet>
  </div>
  <!-- ***** Content body end *****-->
  <!-- ***** Footer start *****-->
  <app-footer></app-footer>
  <!-- ***** Footer start *****-->
</div>
<!-- ***** Main wrapper End *****-->
